# Chat Model
OPENAI_MODEL=deepseek-chat
OPENAI_API_KEY=api_key
OPENAI_API_BASE=https://api.deepseek.com

# API for Google Search (recommend)
SERPER_API_KEY=api_key
SERPER_BASE_URL="https://google.serper.dev"

# API for Web Scraping (recommend)
JINA_API_KEY=api_key
JINA_BASE_URL="https://r.jina.ai"

# LangSmith Configuration (for debugging and tracing)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=api_key
LANGCHAIN_PROJECT=DeepSearch

PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1